<section class="hero is-medium is-danger is-bold">
	<section class="hero-header">
		<header class="header">
			<!-- Main container -->
			<nav class="container">
			  <!-- Left side -->
			  <section class="header-left">
			    <section class="header-item">
			      <p class="control is-grouped">
			        <input class="input" type="text" placeholder="Search Games">
			        <button class="button">
			          Search
			        </button>
			      </p>
			    </section>
			  </section>

			  <!-- Right side -->
			  <section class="header-right">
					<p class="header-item" data-ng-if="username">
						Hello {{username}}
					</p>
					<p class="header-item">
						<a href data-ng-click="logout()">logout</a>
					</p>
			    <p class="header-item"><a href="#/">Home</a></p>
			    <p class="header-item"><a href="#/about">About</a></p>
			    <p class="header-item"><a href="#/game">Quick Play</a></p>
			    <!-- <p class="header-item"><a class="button is-success">New</a></p> -->
			  </section>
			</nav>
		</header>
		<section class="hero-content">
			<section class="container">
				<h1 class="title is-1">SPACECATAZ</h1>
				<p class="subtitle">An app created by Team Spacecataz</p>
			</section>
		</section>
	</section>
</section>

<section class="container">
  <div>
    <h1>Our Team</h1>
      <ul>
        <li><h3>James Mason</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>
      <ul>
        <li><h3>Ardian Ajvazi</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>
      <ul>
        <li><h3>Cameron Forras</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>
      <ul>
        <li><h3>Jesse Thach</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress. </p>
        </li>
      </ul>
      <ul>
        <li><h3>Joshua Ho</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>

  </div>
</section>

<footer class="footer">
  <section class="container">
    <section class="is-text-centered">
      <p>
        End of Fates
      </p>
    </section>
  </section>
</footer>
