<section style="color: white;">
  <div>
    <h1>Our Team</h1>
      <ul>
        <li><h3>James Mason</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>
      <ul>
        <li><h3>Ardian Ajvazi</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>
      <ul>
        <li><h3>Cameron Forras</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>
      <ul>
        <li><h3>Jesse Thach</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress. </p>
        </li>
      </ul>
      <ul>
        <li><h3>Joshua Ho</h3><hr />
          <p>Truffaut cold-pressed pitchfork, flexitarian craft beer keytar chicharrones pop-up marfa direct trade next level whatever. Venmo YOLO squid butcher. Man bun try-hard mustache, banh mi fap cray williamsburg bicycle rights master cleanse beard small batch. +1 beard 8-bit, squid wolf kale chips food truck drinking vinegar narwhal small batch letterpress.</p>
        </li>
      </ul>

  </div>
</section>
