<!-- Styles currently not implemeneted -->
<!-- Note - This is a child scope of SignUpController unintentionally -->

<div class="container" style="border:3px solid black">
  <!-- <game-main-menu></game-main-menu> -->
  <div id="ui">
      <img src="assets/icon-mute.png" id="sound-mute"/>
      <img src="assets/icon-volume-up.png" id="sound-volume-up"/>
      <img src="assets/icon-volume-down.png" id="sound-volume-down"/>
      <p>
          <strong>M</strong>: Mute sounds<br/>
          <strong>+</strong>: Increase volume<br/>
          <strong>-</strong>: Decrease volume
      </p>
  </div>
  <h1>I'm being loaded here yay</h1>
  <div id="game"></div>
  <!-- <game-over></game-over> -->
</div>
