<section data-ng-controller="GameController">

  <h1>
		Creating A Simple Modal System In AngularJS
	</h1>
	<ul>
		<li>
			<a ng-click="alertSomething()">Alert something</a>
		</li>
	</ul>

  <div
  bn-modals
  ng-show="subview"
  class="m-modals"
  ng-switch="subview">

  <!-- BEGIN: Alert Modal. -->
  <div
    ng-switch-when="alert"
    ng-controller="AlertModalController"
    class="modal">
    <p>
      {{ message }}
    </p>
    <p>
      <a ng-click="close()">Ok, I got it!</a>
    </p>
    <!-- This is to demonstrate that we can jump from one modal to another. -->
    <p>
      <a ng-click="jumpToConfirm()" class="jump">Jump over to the confirm modal</a>
    </p>
  </div>
  <!-- END: Alert Modal. -->
</section>
