<section class="hero is-primary" ng-init="isMain()">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        SPACECATAZ
      </h1>
      <h2 class="subtitle">
        Open Source Games
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <section class="container" >
    <section class="columns is-mobile">
      <section class="column is-half is-offset-quarter">

        <form  name="authForm" data-ng-submit="submit(auth)">
          <p class="control">
            <label class="label" data-ng-if="signup" for="username">Username: </label>
            <input class="input is-primary" data-ng-if="signup" type="text" name="username" data-ng-model="auth.username">
          </p>
          <p class="control">
            <label class="label" for="email">Email: </label>
            <input class="input is-primary" type="text" required name="email" data-ng-model="auth.email">
          </p>
          <p class="control">
            <label class="label" for="password">Password</label>
            <input class="input is-primary" type="password" required name="password" data-ng-model="auth.password">
          </p>

          <p class="control">
            <label class="label" data-ng-if="signup" for="confirmation">Confirmation:</label>
            <input class="input is-primary" data-ng-if="signup" type="password" name="confirmation" data-ng-model="auth.confirmation">
          </p>
          <p class="control">
            <button class="button is-primary" type="submit" data-ng-disabled="(signup && (auth.confirmation !== auth.password)) || authForm.$invalid">{{signup ? 'Create New User' : 'Sign In'}}</button>
          </p>

        </form>
        <br />

        <section ng-if="userExists" class="notification is-warning">
          Username already exists – try again!
        </section>
        <section ng-if="userWrong" class="notification is-warning">
          User does not match our records
        </section>
        <section class="columns is-mobile">
          <section class="column is-4">
            <p ng-if="!signup">Dont have an account? <a ng-href="/#/signup" ng-if="!signup">Sign-Up</a></p>
            <p ng-if="signup">Have an account? <a ng-href="/#/" ng-if="signup">Login</a></p>
          </section>
          <section class="column is-4 is-offset-6"><a ng-href="/#/game">Guest</a></section>
        </section>
      </section>
    </section>
  </section>
</section>
